* {
    margin: 0;
    padding: 0;
}
h1 {
    font-size: 90px;
    text-align: center;
    font-family: 'Nosifer', cursive;
    color: rgb(39, 17, 29);
}
body {
    background-image: url("../img/fondo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
#nav-bar {
    position: absolute;
    width: 60%;
}
a {
    text-decoration: none;
    color: rgb(48, 48, 48);
}
p {
    font-size: 40px;
    background-color: white;
   
}
p.parrafo-enlace {
    font-size: 40px;
    color: white;
    position: absolute;
}
nav {
	height: 55px;
	text-align: center;
	padding-top: 10px;
	font-size: 24px;
    color: white;
}
nav > a {
	text-decoration: none;
	margin-inline: 30px;
    color: rgb(44, 8, 41);
    font-family: 'Imbue', serif;
    font-size: 30px;
}
nav > a:hover {
	background-color: rgba(7, 0, 5, 0.205);
	color: rgb(24, 9, 9);
	border-radius: 7%;
	padding: 11px 0px 28px 0px;
	overflow: hidden;
}